Repository PaloAltoNetworks/pan-mcp-relay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bandit, lint, format, test, build

Path conditions:
  bandit: any of: *.py, **/*.py
  lint: any of: *.py, **/*.py, pyproject.toml
  format: any of: *.py, **/*.py, pyproject.toml
  test: any of: *.py, **/*.py, pyproject.toml, uv.lock, requirements*.txt
  build: any of: *.py, **/*.py, pyproject.toml, requirements*.txt

CI: Update pytest job to include coverage
  .ci/taskfile.ci.yml
  .gitlab-ci.yml
  pyproject.toml
  taskfile.yml
Due: lint, format, test, build

Require Python >= 3.12
  .ci/scripts/copyright.py
  .ruff.toml
  examples/clients/stdio/pan_security_relay_stdio_client.py
  pyproject.toml
  src/pan_aisecurity_mcp_relay/constants.py
  src/pan_aisecurity_mcp_relay/downstream_mcp_client.py
  src/pan_aisecurity_mcp_relay/main.py
  src/pan_aisecurity_mcp_relay/mcp_server/pan_security_server.py
  src/pan_aisecurity_mcp_relay/pan_security_relay.py
  src/pan_aisecurity_mcp_relay/security_scanner.py
  src/pan_aisecurity_mcp_relay/tool.py
  src/pan_aisecurity_mcp_relay/tool_registry.py
Due: bandit, lint, format, test, build

Modified examples/clients/stdio/pan_security_relay_stdio_client.py
  examples/clients/stdio/pan_security_relay_stdio_client.py
Due: bandit, lint, format, test, build

Added examples/config/mcp-relay-config.yaml
  examples/config/mcp-relay-config.yaml
Due: none

Deleted examples/config/config-example.json
  examples/config/config-example.json
Due: none

Added examples/config/mcp-relay.json
  examples/config/mcp-relay.json
Due: none

Modified pyproject.toml
  pyproject.toml
Due: lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/__init__.py
  src/pan_aisecurity_mcp_relay/__init__.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/configuration.py
  src/pan_aisecurity_mcp_relay/configuration.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/constants.py
  src/pan_aisecurity_mcp_relay/constants.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/downstream_mcp_client.py
  src/pan_aisecurity_mcp_relay/downstream_mcp_client.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/main.py
  src/pan_aisecurity_mcp_relay/main.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/exceptions.py
  src/pan_aisecurity_mcp_relay/exceptions.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/mcp_server/pan_security_server.py
  src/pan_aisecurity_mcp_relay/mcp_server/pan_security_server.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/pan_security_relay.py
  src/pan_aisecurity_mcp_relay/pan_security_relay.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/security_scanner.py
  src/pan_aisecurity_mcp_relay/security_scanner.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/tool_registry.py
  src/pan_aisecurity_mcp_relay/tool_registry.py
Due: bandit, lint, format, test, build

Added src/pan_aisecurity_mcp_relay/utils.py
  src/pan_aisecurity_mcp_relay/utils.py
Due: bandit, lint, format, test, build

Modified tests/test_downstream_mcp_client.py
  tests/test_downstream_mcp_client.py
Due: bandit, lint, format, test, build

Modified tests/test_exceptions.py
  tests/test_exceptions.py
Due: bandit, lint, format, test, build

Modified tests/test_pan_security_relay.py
  tests/test_pan_security_relay.py
Due: bandit, lint, format, test, build

Modified tests/test_tool_registry.py
  tests/test_tool_registry.py
Due: bandit, lint, format, test, build

Modified uv.lock
  uv.lock
Due: test

Modified README.md
  README.md
Due: none

Modified src/pan_aisecurity_mcp_relay/tool.py
  src/pan_aisecurity_mcp_relay/tool.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/utils.py
  src/pan_aisecurity_mcp_relay/utils.py
Due: bandit, lint, format, test, build

Modified tests/test_tool.py
  tests/test_tool.py
Due: bandit, lint, format, test, build
