Repository PaloAltoNetworks/pan-mcp-relay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bandit, lint, format, test, build

bandit:
  image:
    name: $PYTHON_BASE_IMAGE:$PYTHON_BASE_IMAGE_TAG
    entrypoint:
    - /bin/bash
    - -l
  allow_failure: false
  cache:
  - key:
      files:
      - pyproject.toml
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - $CI_PROJECT_DIR/.venv
  - key:
      files:
      - taskfile.yml
      - .gitlab/taskfile.ci.yml
  ...

lint:
  image:
    name: $PYTHON_BASE_IMAGE:$PYTHON_BASE_IMAGE_TAG
    entrypoint:
    - /bin/bash
    - -l
  allow_failure: true
  cache:
  - key:
      files:
      - pyproject.toml
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - $CI_PROJECT_DIR/.venv
  - key:
      files:
      - taskfile.yml
      - .gitlab/taskfile.ci.yml
  ...

format:
  image:
    name: $PYTHON_BASE_IMAGE:$PYTHON_BASE_IMAGE_TAG
    entrypoint:
    - /bin/bash
    - -l
  allow_failure: true
  cache:
  - key:
      files:
      - pyproject.toml
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - $CI_PROJECT_DIR/.venv
  - key:
      files:
      - taskfile.yml
      - .gitlab/taskfile.ci.yml
  ...

test:
  image: $PYTHON_BASE_IMAGE:latest-$PY_VERSION
  allow_failure: false
  cache:
  - key:
      files:
      - pyproject.toml
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - $CI_PROJECT_DIR/.venv
  - key:
      files:
      - taskfile.yml
      - .gitlab/taskfile.ci.yml
    paths:
    - $TASK_TEMP_DIR
  - paths:
  ...

build:
  image:
    name: $PYTHON_BASE_IMAGE:$PYTHON_BASE_IMAGE_TAG
    entrypoint:
    - /bin/bash
    - -l
  allow_failure: false
  cache:
  - key:
      files:
      - pyproject.toml
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - $CI_PROJECT_DIR/.venv
  - key:
      files:
      - taskfile.yml
      - .gitlab/taskfile.ci.yml
  ...

Modified uv.lock
  uv.lock
Due: test

Modified .ci/taskfile.ci.yml
  .ci/taskfile.ci.yml
Due: none

Modified src/pan_aisecurity_mcp_relay/__init__.py
  src/pan_aisecurity_mcp_relay/__init__.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/configuration.py
  src/pan_aisecurity_mcp_relay/configuration.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/constants.py
  src/pan_aisecurity_mcp_relay/constants.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/downstream_mcp_client.py
  src/pan_aisecurity_mcp_relay/downstream_mcp_client.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/main.py
  src/pan_aisecurity_mcp_relay/main.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/pan_security_relay.py
  src/pan_aisecurity_mcp_relay/pan_security_relay.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/security_scanner.py
  src/pan_aisecurity_mcp_relay/security_scanner.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/tool.py
  src/pan_aisecurity_mcp_relay/tool.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/tool_registry.py
  src/pan_aisecurity_mcp_relay/tool_registry.py
Due: bandit, lint, format, test, build

Modified src/pan_aisecurity_mcp_relay/utils.py
  src/pan_aisecurity_mcp_relay/utils.py
Due: bandit, lint, format, test, build

Modified taskfile.yml
  taskfile.yml
Due: none

Modified tests/test_pan_security_relay.py
  tests/test_pan_security_relay.py
Due: bandit, lint, format, test, build

Modified tests/test_tool_registry.py
  tests/test_tool_registry.py
Due: bandit, lint, format, test, build

Deleted src/pan_aisecurity_mcp_relay/mcp_server/__init__.py
  src/pan_aisecurity_mcp_relay/mcp_server/__init__.py
Due: bandit, lint, format, test, build

Deleted src/pan_aisecurity_mcp_relay/mcp_server/pan_security_server.py
  src/pan_aisecurity_mcp_relay/mcp_server/pan_security_server.py
Due: bandit, lint, format, test, build

CI: Allow test failures, tell BD pip to ignore python version requirement
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

Modified .ci/scripts/copyright.py
  .ci/scripts/copyright.py
Due: bandit, lint, format, test, build

Modified examples/clients/stdio/pan_security_relay_stdio_client.py
  examples/clients/stdio/pan_security_relay_stdio_client.py
Due: bandit, lint, format, test, build

renamed: examples/config/mcp-relay.json -> examples/config/mcp-client.json
  examples/config/mcp-client.json
Due: none

renamed: examples/config/mcp-relay-config.yaml -> examples/config/mcp-relay.yaml
  examples/config/mcp-relay.yaml
Due: none

Add TODO.md
  TODO.md
Due: none

Fix fqdn tool name lookup/deduplication & tool calls
  src/pan_aisecurity_mcp_relay/constants.py
  src/pan_aisecurity_mcp_relay/pan_security_relay.py
  src/pan_aisecurity_mcp_relay/security_scanner.py
  src/pan_aisecurity_mcp_relay/tool.py
Due: bandit, lint, format, test, build

uv sync --upgrade --all-extras
  uv.lock
Due: test

Delete (old) ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

Add click-based shell completion (zsh, bash, fish)
  completion/pan-mcp-relay.bash
  completion/pan-mcp-relay.fish
  completion/pan-mcp-relay.zsh
Due: none

Update README
  README.md
Due: none

Add/update click dependency
  pyproject.toml
  uv.lock
Due: lint, format, test, build

Add README rendering, shell completion generation taskfile tasks
  taskfile.yml
Due: none

Improve scan error handling, add shell completion subcommand
  src/pan_mcp_relay/client/session_group.py
  src/pan_mcp_relay/main.py
  src/pan_mcp_relay/pan_security_relay.py
  src/pan_mcp_relay/security_scanner.py
  tests/test_pan_security_relay.py
Due: bandit, lint, format, test, build

Improve mis-configuration error handling
  examples/config/mcp-relay-full.yaml
  examples/config/mcp-relay.yaml
  src/pan_mcp_relay/client/client.py
  src/pan_mcp_relay/client/session_group.py
  src/pan_mcp_relay/configuration.py
  src/pan_mcp_relay/constants.py
  src/pan_mcp_relay/exceptions.py
  src/pan_mcp_relay/main.py
  src/pan_mcp_relay/pan_security_relay.py
  src/pan_mcp_relay/security_scanner.py
Due: bandit, lint, format, test, build

Path conditions:
  bandit: any of: *.py, **/*.py
  lint: any of: *.py, **/*.py, pyproject.toml
  format: any of: *.py, **/*.py, pyproject.toml
  test: any of: *.py, **/*.py, pyproject.toml, uv.lock, requirements*.txt
  build: any of: *.py, **/*.py, pyproject.toml, requirements*.txt
